
  
  .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #2196F3;
    padding: 10px;
    font-size: 30px;
  }

  .button{
    min-width: 400px;
    text-align: center;
    border: 1px solid white;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

html body{
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
}