


.info{
    display:flex;
    flex-direction: row;
}

.img{
    margin:0px;
    padding:0px;    
    max-width:800px;
}

.column{
    border: 2px solid black
}

.taglist{
    min-width:200px;
    max-width: 200px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.tag{
    margin:2px;
    padding-right: 5px;
}

.infoText{
    padding: 0px;
    margin: 0px;
}